body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: linear-gradient(112.1deg, rgb(37, 77, 85) 11.4%, rgb(226, 107, 9) 70.2%);
 
}
.nav{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.nav .logo{
    width: 30%;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(242, 56, 31);
}
.content{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1{
    font-size: 50px;
    color: rgb(5, 242, 183);
}
.content p{
    width: 60%;
    font-size: 20px;
    text-align: center;
    color: rgb(195, 203, 202);
}
.spcialbtn{
    margin-top: 10px;
    width: 100px;
}
.btn{
    background-color: rgb(229, 241, 14);
    color: #0d0d0d;
    border: 0;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.img .imgsmall{
    height: 550px;
}
.img img{
    width: 33%;
}
.container {
    width: 80%;
    max-width: 1200px;
}
.h1{
    text-align: center;
    color: #ccc;
}

#phone-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.hidden {
    display: none;
}

#my_modal {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%;
    background: #fff;
    text-align: center;
    width: 40%;
    background: #f4f4f4;
}
.center{
    margin-top: 40px;
    margin-left: 45%;
    width: 100px;
}
#searchField{
    width: 30%;
    height: 5vh;
    margin-left: 38%;
    border-radius: 15px;
}
.footer{
    height: 60vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    color: #ccc;
}